{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>PIERRE LLORCA</h1>
        <h2>Développeur web et web mobile</h2>
    </header>
    <main class="container-fluid p-5 bg-secondary">
        <div class="row">
            <div class="col-12 p-5">
            <h2 class="text-center">Mes projets</h2>
            </div>
        </div>
        <div class="row bg-secondary">
            {% for projet in projets %}
                {% if loop.index <= 6 %}
                    <div class="col-4 p-3">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('img/projet/' ~ projet.image) }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description|u.truncate(90, '...') }}</p>
                            </div>
                            <div class="card-body text-center">
                                <a href="http://testingenierie.fr" target="_blank" class="btn btn-outline-primary">Voir le site</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <section id="competences"></section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section id="apropos"></section>
            </div>
        </div>
        
    </main>

{% endblock %}
