{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>PIERRE LLORCA</h1>
        <h2>Développeur web et web mobile</h2>
    </header>

{% endblock %}
